html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  width:100%;
  height:100%;
}

.form-group{
  width:50%;
  display:flex;
  flex-direction: row;  
  justify-content: space-between;
  margin: 1vh auto;
}

.form-control{
  width:90%;
}

.table{
  width:50%;
  margin: 10vh auto;
}

h4{
  margin-top: 5vh;
}